<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>商品管理</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/agreeSel.css">
	</head>
<style>
.shopOrder{max-height: initial;  overflow-y: initial;}
.shopOrder .item{padding: 15px 4%;}
.shopOrder .item .infor{padding-left: 90px;}
.shopOrder .item .ll{width: 80px; height: 80px;}
.shopOrder .item .rr{height: 80px;}
.under_btn .icon{width: 14px; height: 14px; display: block;margin-right: 5px;}

</style>

<body>
	<div id="app">
		<!-- 标题 -->
		<div class="T-head line50 center fs16 Tfix-head">
			<a class="back-next pa" href="javascript:history.go(-1);"><img class="icon" src="images/backIcon.png" ></a>商品管理
		</div>
		<div class="h50"></div>
		
		<div class="pdlr4 mgt15">
			<div class="shopOrder">
				<div class="item radius5 boxShaow" v-for="(item,index) in proListDate" :key="index">
					<div class="infor">
						<div class="ll" href="goodsDetail.html">
							<img class="pic" src="images/home-img.png"/>
						</div>
						<div class="rr">
							<a class="titile fs13 avoidOverflow2" href="goodsDetail.html">标题标题标题标题标题标题标题标题</a>
							<div class="Bmny">
								<div class="flex">
									<div class="price fs13">59</div>
									<div class="flex fs12 red mgl10 mgr10"><img class="zhe" src="images/home-icon4.png">8折</div>
									<div class="yuanJia fs12">69</div>
								</div>
							</div>
						</div>
					</div>
					<div class="under_btn flexEnd pdt10 color6 fs12">
						<a class="btn flexEnd" href="business_goods_edit.html"><img class="icon" src="images/management-icon.png" >修改</a>
						<div class="btn flexEnd mgl40" @click="deltAlert"><img class="icon" src="images/management-icon.png" >删除</div>
						<div class="btn flexEnd mgl40" @click="deltShelf"><img class="icon" src="images/management-icon.png" >下架</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 确定删除弹框 -->
		<div class="xieyiAlert" v-if="is_show">
			<div class="infor center radius5" style="padding:40px 30px;height: auto;">
				<div class="colseBtn"  @click="deltAlert" style="top: 10px;right: 10px;left:auto;">×</div>
				<div class="tit font16 pdb30">确定删除这个商品吗？</div>
				<div class="btnB flexRowBetween fs12">
					<div :class="num==1? 'on':''" @click="chage('1')">取消</div>
					<div :class="num==2? 'on':''" @click="chage('2')">确定</div>
				</div>
			</div>
		</div>
		
		<!-- 确定删除下架商品弹框 -->
		<div class="xieyiAlert" v-if="is_Shelfshow">
			<div class="infor center radius5" style="padding:40px 30px;height: auto;">
				<div class="colseBtn"  @click="deltShelf" style="top: 10px;right: 10px;left:auto;">×</div>
				<div class="tit font16 pdb30">确定下架这个商品吗？</div>
				<div class="btnB flexRowBetween fs12">
					<div :class="num==1? 'on':''" @click="chage('1')">取消</div>
					<div :class="num==2? 'on':''" @click="chage('2')">确定</div>
				</div>
			</div>
		</div>
		
	</div>
</body>

	
<script type="text/javascript">
	var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
					is_show:false,
					mainData: [],
					proListDate:[
						{count:'1',addBtn:true,numBox:false},
						{count:'1',addBtn:false,numBox:true},
						{count:'1',addBtn:false,numBox:true}
					],
					num:2,
					is_Shelfshow:false
		        }
		    },
		    onLoad() {
		    	const self = this;
		    	// self.$Utils.loadAll(['getMainData'], self);
		    },
		    methods: {
				deltAlert(){
					const self = this;
					self.is_show=!self.is_show;
				},
				chage(num){
					const self = this;
					if(num!=self.num){
						self.num=num
					}
				},
				deltShelf(){
					const self = this;
					self.is_Shelfshow=!self.is_Shelfshow;
				},
				getMainData() {
					const self = this;
					const postData = {};
					postData.tokenFuncName = 'getProjectToken';
					var callback = function(res){
					    console.log('getMainData', res);
					    self.mainData.push.apply(self.mainData,res.info.data);		        
					};
					self.$apis.orderGet(postData, callback);
				}
		    }
		});
	</script>

</html>