<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>首页</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/numCar.css">
		<link rel="stylesheet" type="text/css" href="css/prodctDetail.css">
	</head>

<body>
	<div id="app">
		<!-- 标题 -->
		<div class="T-head line50 center fs16 Tfix-head">首页</div>
		<div class="h50"></div>
		
		<div class="pdlr4">
			<!-- banner -->
			<div class="ind_banner oh pdtb15 radius10">
				<img src="images/home-banner.png" alt="">
			</div>
			<!-- banner end -->
			
			<div class="inde_msgBox">
				<ul>
					<li class="flex">
						<img class="Licon" src="images/home-icon2.png">
						<span class="fs14">肯德基宅急送</span>
						<span>00:00-24:00</span>
					</li>
					<li class="flexRowBetween">
						<div class="flex">
							<img class="Licon" src="images/home-icon1.png">
							<span class="color6 fs12">高新区高新大都荟</span>
						</div>
						<img class="RadrsIcon" src="images/home-icon3.png" >
					</li>
					<li class="flex">
						<img class="Licon" src="images/home-icon.png">
						<span class="color6 fs12">15689568975</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="f5H5"></div>
		
		<div class="inde_prolis pr" style="min-height: 260px;">
			<div class="store_LeftNav center">
				<div class="item" :class="curr==index?'on':''" v-for="(item,index) in leftNavDate" :key="index" @click="chageNav(index)">{{item}}</div>
			</div>
			<div class="store_rightCont">
				<div class="shopOrder">
					<div class="item" v-for="(item,index) in proListDate" :key="index">
						<div class="infor">
							<a class="ll" href="goodsDetail.html">
								<img class="pic" src="images/home-img.png"/>
							</a>
							<div class="rr">
								<a class="titile fs13 avoidOverflow2" href="goodsDetail.html">标题标题标题标题标题标题标题标题</a>
								<div class="flexRowBetween Bmny">
									<div class="flex">
										<div class="price fs13">59</div>
										<div class="flex fs12 red mgl10 mgr10"><img class="zhe" src="images/home-icon4.png">8折</div>
										<div class="yuanJia fs12">69</div>
									</div>
									
									<div class="flexEnd">
										<div class="addBtn font14" v-show="item.addBtn" @click="addBtnShow">+</div>
										<div class="numBox flexEnd"  v-show="item.numBox">
											<div class="" @click="counter(index,'-')">-</div>
											<div class="num">{{item.count}}</div>
											<div class="on" @click="counter(index,'+')">+</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="xqbotomBar" >
			<div class="threeNav center w flex">
				<a class="item L flexCenter fs12" href="user.html">
					<div class="flexColumn">
						<div class="mgt5"><img class="L-icon" src="images/home-icon7.png" ></div>
						<div>我的</div>
					</div>
				</a>
				<div class="item M flexCenter">
					<div class="mgr10">
						<img class="CarIcon" src="images/home-icon8.png" mode=""/>
					</div>
					<div class="fs12 flexColumn">
						<div class="pr price" v-show="priceShow" @click="carMxShow"><span class="pr">59<em class="car-num">1</em></span></div>
						<p>配送费￥10</p>
					</div>
				</div>
				<a class="item R flexCenter white" href="confirmOrder.html">去结算</a>
			</div>
		</div>

		<!-- 弹框背景 -->
		<div class="black-bj" v-show="is_show"></div>
		
		<!-- 费用明细 -->
		<div class="qjAlertCont carMxShow" style="padding-bottom:60px;" v-show="is_priceShow">
			<div class="flexRowBetween pdlr4 line40 bordB1 fs12 color6 f5bj">
				<span>配送费10元</span>
				<span class="flex">
					<img class="arrowR mgr5" src="images/management-icon1.png" style="width: 14px; height: 14px; display: block;" >清空购物车
				</span>
			</div>
			<div class="pdlr4 list pdt10">
				<ul>
					<li class="flexRowBetween pdb15 fs13" v-for="(item,index) in moneyMxDate" :key='index'>
						<span class="L avoidOverflow">外婆资质萝卜干</span>
						<span class="M">￥56.22</span>
						<span class="R numBox flexEnd">
							<div class="">-</div>
							<div class="num">1</div>
							<div class="on">+</div>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

	
<script type="text/javascript">
	var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
					is_show:false,
					mainData: [],
					curr:0,
					leftNavDate:['折扣','热销','套餐','饮品'],
					proListDate:[
						{count:'1',addBtn:true,numBox:false},
						{count:'1',addBtn:false,numBox:true},
						{count:'1',addBtn:false,numBox:true}
					],
					priceShow:false,
					moneyMxDate:[{},{},{},{},{},{},{},{},{}],
					is_priceShow:false
		        }
		    },
		    onLoad() {
		    	const self = this;
		    	// self.$Utils.loadAll(['getMainData'], self);
		    },
		    methods: {
				addBtnShow(){
					const self = this;
					self.priceShow = true
				},
				chageNav(index){
					const self = this;
					self.curr = index
				},
				carMxShow(){
					const self = this;
					self.is_show = !self.is_priceShow;
					self.is_priceShow = !self.is_priceShow
				},
				getMainData() {
					const self = this;
					const postData = {};
					postData.tokenFuncName = 'getProjectToken';
					var callback = function(res){
					    console.log('getMainData', res);
					    self.mainData.push.apply(self.mainData,res.info.data);		        
					};
					self.$apis.orderGet(postData, callback);
				}
		    }
		});
	</script>
</html>